<nav>

    <section id="menuplayer">

        <div class="cards">
            <h3>
                <i class="fa-solid fa-house"></i>
                <a href="/houses">Casas</a>
            </h3>
        </div>

        <div class="cards">
            <h3>
                <i class="fa-solid fa-building"></i>
                <a href="/properties">Empresas</a>
            </h3>
        </div>

        <div class="cards">
            <h3>
                <i class="fa-solid fa-building-columns"></i>
                <a href="/bank">Banco</a>
            </h3>
        </div>

        <div class="cards">
            <h3>
                <i class="fa-solid fa-ranking-star"></i>
                <a href="/ranking">Ranking</a>
            </h3>
        </div>

        <div class="cards">
            <h3>
                <i class="fa-solid fa-user-gear"></i>
                <a href="/profile">Meu Perfil</a>
            </h3>
        </div>
        
    </section>

</nav>