<footer>

    <div id="social-media">
        <i class="fa-brands fa-discord"></i>
        <i class="fab fa-facebook-f"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
    </div>

    <h3>Criado por HenriqueSilv4</h3>

</footer>