<main>

    <div id="form-login">
            
    <img id=login-avatar src="images/avatar/avatar1.png" width="150" height="150" alt="Avatar de um personagem">

    <form action="/" method="post">

        <div class="input-group">

            <div class="icons">
                <i class="fas fa-user"></i>
            </div>

            <input type="text" autocomplete="off" id="nickname" name="nickname" maxlength="24" placeholder="Digite seu nick"  required>

        </div>

        <div class="input-group">

            <div class="icons">
                <i class="fas fa-lock"></i>
            </div>

            <input type="password" autocomplete="off" id="password" name="password" maxlength="16"  placeholder="Digita sua senha" required>   

        </div>     
        
        <button type="submit">Entrar</button>

    </form>

    <h2 id="loginErrorMessage"> Usuário ou senha incorretos </h2>
    
    <a href="/register">Registrar-se</a>

    </div>
    
</main>