<div id="profileBox">

    <div class="profileInfo">
        <img src="../images/characters/assistant.jpg" alt="">
        <div>
            <p>Banco Fleeca:</p>
            <blockquote>"O banco Fleeca cuida do seu dinheiro da melhor forma. Aqui você pode fazer investimentos,
                transações e venda do seus imóveis."</blockquote>
        </div>
    </div>

    <div>

        <img src="../images/avatar/avatar1.png" alt="">
        <img src="../images/avatar/avatar2.png" alt="">
        <img src="../images/avatar/avatar3.png" alt="">
        <img src="../images/avatar/avatar4.png" alt="">
        <img src="../images/avatar/avatar5.png" alt="">
        <img src="../images/avatar/avatar6.png" alt="">
        <img src="../images/avatar/avatar7.png" alt="">
        <img src="../images/avatar/avatar8.png" alt="">
        <img src="../images/avatar/avatar9.png" alt="">
        <img src="../images/avatar/avatar10.png" alt="">
        <img src="../images/avatar/avatar11.png" alt="">
        <img src="../images/avatar/avatar12.png" alt="">
        <img src="../images/avatar/avatar13.png" alt="">
        <img src="../images/avatar/avatar14.png" alt="">
        <img src="../images/avatar/avatar15.png" alt="">
        <img src="../images/avatar/avatar16.png" alt="">
        <img src="../images/avatar/avatar17.png" alt="">
        <img src="../images/avatar/avatar18.png" alt="">
        <img src="../images/avatar/avatar19.png" alt="">
        <img src="../images/avatar/avatar20.png" alt="">
        <img src="../images/avatar/avatar21.png" alt="">
        <img src="../images/avatar/avatar22.png" alt="">
        <img src="../images/avatar/avatar23.png" alt="">
        <img src="../images/avatar/avatar24.png" alt="">
        <img src="../images/avatar/avatar25.png" alt="">
        <img src="../images/avatar/avatar26.png" alt="">
        <img src="../images/avatar/avatar27.png" alt="">
        <img src="../images/avatar/avatar28.png" alt="">
        <img src="../images/avatar/avatar29.png" alt="">
        <img src="../images/avatar/avatar30.png" alt="">

    </div>

</div>