/* EMPRESAS ======== EMPRESAS =========== EMPRESAS */

.propertiesInfo{
    display: flex;
    align-items: center;
    background-color: rgb(39 37 37);
    border: 0.2rem;
    border-left: 0.2rem solid rgb(115 100 199);
    height: 150px;
}

.propertiesInfo img{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border-radius: 0.5rem;
    width: 120px;
    height: 110px;
    box-shadow: 0.2rem 0.1rem rgb(115 100 199);
}

.propertiesInfo h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

#propertiesWrapper{
    font-family: 'Poppins', sans-serif;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    height: fit-content;
    background-color: rgba(30, 30, 30, 1.0);
    margin-top: 1rem;
    border-radius: 0.5rem;
    padding: 1rem;
}

#properties{
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.propertieCard{
    position: relative;
    flex: none;
    scroll-snap-align: start;
    width: 100%;
    margin: 5px;
}

.propertieCard img{
    width: 95%;
    height: 410px;
    display: block;
    margin: 0.5rem auto 0.5rem auto; 
    border-radius: 0.5rem;
    object-fit: fill;
    box-shadow: 0.4rem 0.3rem rgb(115 100 199);
}

.propertiesTable{
    margin-top: 1rem;
    font-family: 'Poppins', sans-serif;
    background-color: rgb(40 40 40);
    width: 100%;
    color: white;
    text-align: center;
    border-radius: 0.2rem;
    height: 100px;
}

.propertiesTable th{
    font-size: 18px;
    font-weight: 400;
}

.propertiesTable .fa-solid{
    margin-right: 0.2rem;
}

.propertiesTable .fa-solid.fa-location-dot{
    color: red;
}

.propertiesTable .fa-solid.fa-hand-holding-dollar{
    color: green;
}

.propertieCard button{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    width: 150px;
    font-weight: 800;
    color: white;
    background: #49AA26;
    border: none;
    border-bottom: 2px orange solid;
    border-radius: 0.2rem;
    padding: 1rem;
    transition: all 200ms;
}

.propertieCard button:hover{
    background: #3dd705;
    border-bottom: 4px orange solid;
    cursor: pointer;
}

.propertieCard button:active{
    border: none;
}

.propertieCard button.disabled{
    background-color: red;
}
.propertieCard button.disabled:hover{
    color: white;
    cursor: not-allowed;
}